body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #006837;
    font-family: 'Helvetica, Arial, sans-serif';
}

.container {
    padding: 20px;
    width: 800px;
    height: 420px;
    margin: 50px auto 0 auto;
    background-color: white;
}